@import 'bootstrap';
@import 'effects';
@import 'pages';
@import 'footer';
@import 'header';

$this-blue: #98c3ff;
$dark-pink: #e6705b;
$light-pink: #ffe8e8;

.body-container {
    background-color: $light-pink;
}
.jumbotron-title {
    background:  $light-pink;
}
.svg-icon{
    margin-right: 30px;
    fill: #6c757d;
}
